

/* ---- Defaults ---- */


html, body {
	margin:0;
	padding:0;
	height:100%;
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:0.95em;
	color:#29383c;
}

a {
	text-decoration:none;
	color:#29383c;
}

h4 {
	margin:10px 0;
}


/* ---- Mobile navigation ---- */


.rb-modal {
	display:none;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:9998;
}

.rb-modal.rb-modal-show {
	display:block;
}

.rb-modal-inner {
	z-index:9999;
	position:absolute;
	border-radius:5px;
	background-color:white;
	padding:15px;
	top:30px;
	box-shadow:0 0 15px rgba(0,0,0,0.2);
	display:none;
	left:20px;
	right:20px;
	top:20px;
	min-width:210px;
}

.rb-modal-inner.rb-modal-inner-show {
	display:block;
}

.rb-modal-tooltip {
	display:none;
	transform:rotate(45deg);
	position:absolute;
	top:-4px;
	left:10px;
	width:10px;
	height:10px;
	background:white;
}

.rb-modal-close {
	position:absolute;
	right:10px;
	box-sizing:border-box;
	padding:1px 0 0 0;
	margin:0;
	border-radius:50%;
	border:1.4px solid black;
	text-align:center;
	width:22px;
	height:22px;
	font-size:1em;
	background:transparent;
	cursor:pointer;
}

.rb-modal-inner ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rb-modal-inner li {
	margin-bottom:15px;
}

.rb-modal-inner li:last-child {
	margin:0;
}

ul.rb-modal-big-menu {
	padding-bottom:20px;
	border-bottom:1px solid rgb(220,220,220);
	margin-bottom:20px;
	font-weight:bold;
}

.rb-modal a {
	color:#29383c;
	display:block;
	max-width:80%;
}

.rb-modal-inner a:hover {
	opacity:0.7;
}

@media (min-width:460px) {
	.rb-modal {
		background-color:transparent;
	}
	
	.rb-modal-inner {
		top:53px;
		left:14px;
		width:250px;
	}
	
	.rb-modal-close {
		display:none;
	}
	
	.rb-modal-tooltip {
		display:block;
	}
}

@media (min-width:820px) {
	.rb-modal.rb-modal-show {
		display:none;
	}
	
	.rb-modal-inner.rb-modal-inner-show {
		display:none;
	}
}


/* ---- Top bar ---- */


.rb-top-bar {
	padding:10px;
	border-bottom:1px solid rgb(220,220,220);
	text-align:center;
	overflow:hidden;
}

.rb-burger {
	background-color:transparent;
	width:30px;
	padding:2px;
	cursor:pointer;
	border:none;
	float:left;
}

.rb-burger div {
	margin:5px 0;
	border:1px solid #29383c;
}

.rb-login, .rb-desktop-links a {
	margin-left:16px;
	font-size:0.9em;
	font-weight:bold;
}

.rb-login, .rb-desktop-links {
	margin-top:8px;
	float:right;
}

.rb-desktop-links {
	margin-top:7px;
	display:none;
}

.rb-home-small {
	display:block;
	width:53px;
	margin:0 auto;
	height:30px;
	overflow:hidden;
}

.rb-desktop-links a:first-child {
	float:left;
	border:2px solid #29383c;
	border-radius:3px;
	padding:6px 8px;
	margin-top:-5px;
}

.rb-desktop-links a:first-child:hover {
	background-color:#29383c;
	color:white;
}

.rb-join {
	display:none;
	float:right;
	border-radius:2px;
	background-color:#64a816;
	margin-left:40px;
	color:white;
	padding:10px;
	font-size:0.9em;
	font-weight:bold;
}

.rb-join:hover {
	background-color:#508a00;
}

@media (min-width:837px) {
	.rb-burger {
		display:none;
	}
	
	.rb-home-small {
		margin-top:5px;
		float:left;
		width:180px;
		height:23px;
	}
	
	.rb-home-small img {
		width:180px;
	}
	
	.rb-desktop-links {
		display:block;
	}
	
	.rb-join {
		display:block;
	}
}

@media (min-width:920px) {
	.rb-login, .rb-desktop-links a {
		margin-left:35px;
	}
}


/* ---- Title bar ---- */


.rb-title-bar, .rb-title-bars {
	border-bottom:1px solid rgb(220,220,220);
	height:50px;
	overflow:hidden;
}

.rb-title-bar h2 {
	margin:0 15px;
	line-height:50px;
}

.rb-search-bar, .rb-filter-bar {
	float:right;
	width:50%;
	box-sizing:border-box;
}

.rb-search-bar input, .rb-filter-bar button {
	width:100%;
	padding:0 12px;
	box-sizing:border-box;
	font-size:1.1em;
	line-height:50px;
	border:none;
}

.rb-filter-bar button {
	background-color:#f4f4f4;
	text-align:left;
	border:none;
	line-height:50px;
	cursor:pointer;
}

.rb-filter-bar button:focus {
	color:#e46905;
	outline:0;
}

@media (min-width:820px) {
	.rb-title-bar, .rb-title-bars {
		float:left;
		width:50%;
	}
	
	.rb-search-bar {
		border-left:1px solid rgb(220,220,220);
	}
	
	.rb-filter-bar button {
		background-color:white;
		border-left:1px solid rgb(220,220,220);
		border-right:1px solid rgb(220,220,220);
	}
	
	.rb-title-bars {
		padding-right:15px;
		box-sizing:border-box;
	}
}


/* ---- Filter panel ---- */


.rb-filter-panel {
	clear:both;
	background-color:#f4f4f4;
	height:0;
	box-sizing:border-box;
	opacity:0;
	transition:opacity 500ms;
	overflow:hidden;
}

.rb-filter-panel.rb-filter-panel-show {
	height:auto;
	opacity:1;
}

.rb-filter-panel > div {
	margin:25px;
	overflow:hidden;
}

.rb-filter-panel ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rb-filter-panel input {
	display:none;
}

.rb-filter-panel label {
	background-color:#e4e4e4;
	border-radius:3px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	padding:8px;
	cursor:pointer;
}

.rb-filter-panel li:last-child label {
	margin-right:0;
}

.rb-filter-panel input:checked + label {
	background-color:#29383c;
	color:white;
	font-weight:bold;
}

.rb-apply-filters, .rb-reset-filters {
	border-radius:3px;
	cursor:pointer;
	font-weight:bold;
	font-size:1.1em;
	width:160px;
	transition:background-color 300ms, color 300ms;
}

.rb-apply-filters {
	background-color:#64a816;
	padding:8px;
	margin:0 20% 25px 25px;
	color:white;
	border:2px solid #64a816;
}

.rb-apply-filters:hover {
	background-color:#508a00;
}

.rb-reset-filters {
	background-color:#ccc;
	border:none;
	padding:10px;
	margin-left:25px;
	margin-bottom:25px;
}

.rb-reset-filters:hover {
	background-color:#747474;
	color:white;
}

@media (min-width:820px) {
	.rb-apply-filters {
		margin-right:15px;
	}
}


/* ---- Risk panel ---- */


.rb-risk-panel {
	padding:15px;
	overflow:hidden;
}

.rb-risk-panel select {
	border:1px solid rgb(220,220,220);
	height:50px;
	line-height:50px;
	box-sizing:border-box;
	padding:8px;
	font-size:1.1em;
	width:100%;
	margin-bottom:15px;
}

.rb-risk-box {
	border:1px solid rgb(220,220,220);
	padding:8px;
	font-size:1em;
	margin-top:5px;
}

.rb-risk-box a {
	color:#e46905;
}

@media (min-width:656px) {
	.rb-risk-panel select {
		float:left;
		width:auto;
		margin-bottom:0;
	}
	
	.rb-risk-box {
		float:right;
	}
}


/* ---- Opportunity panel ---- */


.rb-opportunity-panel {
	padding:0 15px;
}

.rb-opportunity {
	position:relative;
	margin:0 20px 20px 0;
	float:left;
	width:100%;
	border:1px solid rgb(220,220,220);
	border-radius:3px;
	overflow:hidden;
	transition:all 400ms;
	top:0;
}

.rb-opportunity-cover {
	background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:168px;
}

.rb-opportunity-favourite {
	position:absolute;
	top:10px;
	right:10px;
	border-radius:3px;
	background:white;
	padding:10px;
}

.rb-opportunity-star {
	fill:#fff;
	stroke:#f08f00;
	stroke-line-join:round;
	stroke-width:2px;
	transition:fill 0.165s;
}

.rb-opportunity-sash {
	width:130px;
    color:white;
    background:#77b13b;
    transform:rotate(-45deg);
    position:absolute;
    top:28px;
    left:-30px;
    font-size:0.75em;
    text-align:center;
    font-weight:bold;
}

.rb-opportunity-top img {
	float:left;
	border:1px solid rgb(220,220,220);
	width:100px;
	height:100px;
	margin-top:-73px;
	margin-left:10px;
}

.rb-opportunity-top abbr {
	float:left;
	padding:2px;
	background:white;
	margin:10px 0 0 5px;
	border:1px solid rgb(220,220,220);
	font-size:0.75rem;
	font-weight:bold;
	cursor:help;
	border-radius:2px;
}

.rb-opportunity-top span {
	float:right;
	margin:10px 10px 0 0;
	font-weight:bold;
}

.rb-opportunity-middle {
	clear:both;
	padding:10px;
}

.rb-opportunity-middle h4 {
	font-size:1.375em;
}

.rb-opportunity-middle p {
	color:#747474;
	font-size:0.95em;
	line-height:1.6em;
}

.rb-opportunity-bottom {
	padding:10px;
	margin-top:40px;
	font-weight:bold;
}

.rb-opportunity-percentage {
	border-radius:2px;
	background-color:rgb(220,220,220);
	overflow:hidden;
	margin-top:15px;
}

.rb-opportunity-percentage div {
	box-sizing:border-box;
	padding:2px 10px;
	max-width:100%;
}

.rb-opportunity-figures {
	padding:10px;
	overflow:hidden;
}

.rb-opportunity-figures div {
	border-right:1px;
	box-sizing:border-box;
	border-right:1px solid rgb(220,220,220);
	float:left;
	width:33%;
	text-align:center;
}

.rb-opportunity-figures div:last-child {
	border:none;
}

.rb-opportunity-figures span {
	font-weight:normal;
	display:block;
	margin-top:5px;
}

.rb-no-investments {
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	padding:40px;
	width:100%;
}

@media (min-width:672px) {
	.rb-opportunity {
		width:46%;
	}
	
	.rb-opportunity:hover {
		box-shadow:0 5px 10px rgba(0,0,0,0.15);
		top:-5px;
	}
	
	.rb-opportunity:nth-child(odd) {
		clear:both;
	}
	
	.rb-opportunity:nth-child(even) {
		float:right;
		margin-right:0;
	}
}

@media (min-width:800px) {
	.rb-opportunity-panel {
		padding:0 15px 0 15px;
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	
	.rb-opportunity-panel .rb-opportunity {
		float:none;
		clear:none;
		display:block;
		width:32%;
		margin:0;
		margin-bottom:30px;
	}
}

/* ---- Footer ---- */

.rb-footer {
	background-color:#29383c;
	color:white;
	padding:3.5em 1.2em;
	line-height:1.6em;
	overflow:hidden;
	clear:both;
}

.rb-footer h4 {
	font-size:1.5em;
}

.rb-footer a {
	color:#f08f00;
}

.rb-footer a:hover {
	color:#e46905;
}

.rb-footer ul a {
	color:white;
}

.rb-footer-social {
	float:left;
	width:18%;
	margin-top:30px;
}

.rb-footer-social-links img {
	width:170px;
	display:block;
}

.rb-footer-nav {
	float:left;
	margin-top:30px;
	display:none;
	width:100%;
}

.rb-footer-nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rb-footer-nav ul ul {
	float:left;
	width:24%;
}

.rb-footer-nav ul ul li {
	line-height:2em;
}

.rb-footer-nav + p {
	clear:both;
	padding-top:30px;
}

.rb-footer-branding {
	padding-top:15px;
	display:block;
}

.rb-footer-branding img {
	display:block;
    width: 180px;
}

@media (min-width:634px) {
	.rb-footer-nav {
		display:block;
		clear:both;
	}
}

@media (min-width:890px) {
	.rb-footer-social {
		float:right;
	}
	
	.rb-footer-nav {
		clear:none;
		width:78%;
	}
	
	.rb-footer-branding {
		padding:0;
		float:right;
	}
}