<!-- Mobile menu -->

<style>
	html, body {
		margin:0;
		padding:0;
		height:100%;
		font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
		font-size:0.95em;
		color:#29383c;
	}
	
	a {
		text-decoration:none;
	}
	
	.rb-modal {
		background-color:rgba(0,0,0,0.6);
		height:100%;
		padding-top:5%;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}
	
	.rb-modal-inner {
		margin:0 5%;
		border-radius:5px;
		background-color:white;
		padding:15px;
		position:relative;
		box-shadow:0 0 10px rgba(0,0,0,0.2);
	}
	
	.rb-modal-close {
		position:absolute;
		right:10px;
		box-sizing:border-box;
		padding:1px 0 0 0;
		margin:0;
		border-radius:50%;
		border:1.4px solid black;
		text-align:center;
		width:22px;
		height:22px;
		font-size:1em;
		background:transparent;
		cursor:pointer;
	}
	
	.rb-modal-inner ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	
	.rb-modal-inner li {
		margin-bottom:15px;
	}
	
	.rb-modal-inner li:last-child {
		margin:0;
	}
	
	ul.rb-modal-big-menu {
		padding-bottom:20px;
		border-bottom:1px solid rgb(220,220,220);
		margin-bottom:20px;
		font-weight:bold;
	}
	
	.rb-modal a {
		color:#29383c;
		display:block;
		max-width:80%;
	}
	
	.rb-modal a:hover {
		opacity:0.7;
	}
	
	@media (min-width:460px) {
		.rb-modal {
			background-color:transparent;
			width:320px;
			left:4px;
			top:50px;
			height:0px;
			padding:0;
		}
		
		.rb-modal-close {
			display:none;
		}
	}
	
	@media (min-width:820px) {
		.rb-modal {
			display:none;
		}
	}
</style>

<div class="rb-modal">
	<div class="rb-modal-inner">
		<button class="rb-modal-close">&times;</button>
		
		<ul class="rb-modal-big-menu">
			<li><a href="#">Investment Opportunities</a></li>
			<li><a href="#">How to invest</a></li>
			<li><a href="#">Raising finance</a></li>
			<li><a href="#">Explore</a></li>
		</ul>
		
		<ul class="rb-modal-small-menu">
			<li><a href="#">Help Centre</a></li>
			<li><a href="#">Tax relief</a></li>
			<li><a href="#">Contact us</a></li>
			<li><a href="#">Funded companies</a></li>
			<li><a href="#">Partnerships</a></li>
			<li><a href="#">Terms of use</a></li>
			<li><a href="#">Privacy policy</a></li>
			<li><a href="#">Risk warning</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Careers</a></li>
		</ul>
</div>