<!-- Top bar -->

<style>
	html, body {
		margin:0;
		padding:0;
		height:100%;
		font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
		font-size:0.95em;
		color:#29383c;
	}
	
	a {
		text-decoration:none;
		color:#29383c;
	}

	.rb-top-bar {
		padding:10px;
		border-bottom:1px solid rgb(220,220,220);
		text-align:center;
		overflow:hidden;
	}
	
	.rb-burger {
		background-color:transparent;
		width:30px;
		padding:2px;
		cursor:pointer;
		border:none;
		float:left;
	}
	
	.rb-burger div {
		margin:5px 0;
		border:1px solid #29383c;
	}
	
	.rb-login {
		float:right;
		margin-top:8px;
		font-size:0.9em;
		font-weight:bold;
	}
	
	.rb-home-small {
		display:block;
		width:53px;
		margin:0 auto;
		height:30px;
		overflow:hidden;
	}
</style>

<div class="rb-top-bar">
	<button class="rb-burger">
		<div></div>
		<div></div>
		<div></div>
	</button>
	
	<a href="#" class="rb-login">Log in</a>
	
	<a href="" class="rb-home-small">
		<img src="http://crowdcube.com/dist/bundles/43c2daf4ff019ed2e3dbfd23e3a6f0eb.svg" alt="Crowdcube" />
	</a>
</div>